# Sample configuration file for psiplotter.R
#
# See "Customizing plots" in psiplotter.R help documentation for more
# instructions on how to use this config file:
#
# > vast-tools plot -h 
#
# Notes:
#  - The header line is required
#  - Sample names MUST match the names in the PSI input table
Order	SampleName	GroupName	RColorCode
1	Sample4	Neural	552
2	Sample3	Neural	552
3	Sample2	Muscle	26
4	Sample1	Muscle	26
